@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #8da4e3;
    width: 100%;
    text-align: center;
    padding: 25px;
    font-size: 25px;
    font-weight: 900;
    color: #eee;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


#formSection {
    width: 40%;
    background-color: #dbe5ff;
    padding: 20px;
    border-radius: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form #formTitle {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

form .inputContainer {
    margin:10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form button {
    margin-top: 20px;
    height: 50px;
    background-color: #8da4e3;
    color: #eee;
    font-weight: 900;
}

.inputContainer input, .inputContainer select {
   width: 60%;
}

#resultSection {
    width: 55%;
    background-color: #dbe5ff;
    padding: 20px;
    border-radius: 5px;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  td a {
      cursor: pointer;
      color: blue;
      padding: 5px;
      font-weight: 900;
  }

  td a:first-child {
    color: red;
    font-weight: 400;
  }


  @media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
    
    #formSection, #resultSection {
        width: 100%;
        min-width: 500px;
        margin-top: 10px;
    }
  }
